{% load static %}
<div class="pagina-inicial">

        
    {%for message in messages%}
    <div class="alert alert-primary" role="alert">
        <p> {{message}}	</p>
    </div>
    {%endfor%}

    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                
                <a href="{% url 'cadastroPaciente' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Cadastrar Paciente</a>
                <a href="http://127.0.0.1:8000/admin/galeria/tabelanutricional/add/"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Cadastrar Tabela</a>
                <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>

            </nav>
        </section>