{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
            <section class="galeria d-flex justify-content-center" style="margin-left: 5em">
                
                <form action="{%url 'login'%}" method="POST">
                    {% csrf_token %} 
                    <!-- o csrf_token é um token de segurança que evita ataques de CSRF 
                    (Cross-Site Request Forgery) -->
                    <div class="row">
                        {%for field in form.visible_fields %}
                        <div class="col-12 col-lg-12 row" style="margin-bottom: 10px">
                            <label for = {{field.id_for_label}} class="col-12" style="color:#D9D9D9; margin-bottom: 5px;"  >{{field.label}}</label> <!-- o field.label é o nome do campo -->
                            {{field}}
                        </div>
                        {%endfor%}
                        
                    </div>
                    <div class="row mt-1">
                        <button type="submit" class="btn btn-success col-12"  >Logar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>
</body>

{% endblock %}
